html,body{
    height:100%;
    background: white;
}

.main_department{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: white;
}

.heading_department{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 20px;
    color: black;
}

.logoutButton{
    display: flex;
    justify-content: center;
}
