*{
    margin: 0px;
    padding: 0px;
}

.heading_employee_dashboard{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.cardInDashboard{
    display: flex;
    justify-content: center;
}

.card{
    margin: 20px;
}

